In [25]:
# Imports
import numpy as np
import pandas as pd

# Reliability Problems

I am struggeling with very poor estimation performance in the case of multiple types, even if all related coefficients are fixed. I am now starting a systematic effort to hunt down the problem.

## Simulation

I will now manually check the simulation of some samples to see if the problem is in the simulation.

In [29]:
data_frame = pd.read_csv('data.respy.dat', delim_whitespace=True, header=0, na_values='.')
data_frame.head(30)

,Identifier,Period,Choice,Wage,Experience_A,Experience_B,Years_Schooling,Lagged_Schooling,Type,Total_Reward_1,...,Total_Reward_4,Systematic_Reward_1,Systematic_Reward_2,Systematic_Reward_3,Systematic_Reward_4,Shock_Reward_1,Shock_Reward_2,Shock_Reward_3,Shock_Reward_4,Discount_Rate
0,0,0,3,NaN,0,0,10,1,2,408516.164130,...,401275.566350,13226.795327,11271.131486,1000.0,16750.0,1.067630,0.667110,656.426530,-1485.916632,0.95
1,0,1,3,NaN,0,0,11,1,2,427989.511616,...,422147.663694,13739.085417,12088.380730,1000.0,16750.0,1.020047,0.974924,132.361649,230.720428,0.95
2,0,2,3,NaN,0,0,12,1,2,448956.803388,...,440436.062685,14271.217133,12964.887231,1000.0,16750.0,0.997575,1.077248,1723.814029,-1778.914418,0.95
3,0,3,3,NaN,0,0,13,1,2,468078.554454,...,464962.965634,14823.958968,13904.947625,1000.0,16750.0,0.788506,0.875716,404.916377,1547.034530,0.95
4,0,4,3,NaN,0,0,14,1,2,499897.522677,...,486079.915406,15398.109175,14913.170087,1000.0,16750.0,1.335718,1.094954,1889.122804,215.691485,0.95
5,0,5,2,17830.71,0,0,15,1,2,522182.225000,...,510566.850373,15994.496927,15994.496927,1000.0,16750.0,1.182023,1.114803,-2285.628127,1268.495670,0.95
6,0,6,2,17493.95,0,1,15,0,2,529329.695430,...,518455.638688,15994.496927,17085.748945,-3000.0,16750.0,1.078268,1.023891,1297.631123,541.878685,0.95
7,0,7,2,25078.50,0,2,15,0,2,535935.181090,...,525297.627144,15994.496927,18214.987078,-3000.0,16750.0,0.969930,1.376806,693.091036,-775.040808,0.95
8,0,8,2,18642.80,0,3,15,0,2,539035.319736,...,532657.678581,15994.496927,19380.060360,-3000.0,16750.0,0.705521,0.961958,-264.137706,-586.515323,0.95
9,0,9,3,NaN,0,4,15,0,2,545720.055002,...,540160.628997,15994.496927,20578.456365,-3000.0,16750.0,0.695296,0.718573,-463.908110,214.032031,0.95
10,0,10,3,NaN,0,4,16,1,2,575191.312072,...,564548.392072,16613.983512,22070.562809,1000.0,16750.0,0.934066,0.725009,1078.773155,53.882964,0.95
11,0,11,2,27762.94,0,4,17,1,2,604638.402430,...,592902.914191,17257.463577,23670.859177,1000.0,16750.0,1.091564,1.172874,455.236470,2830.364249,0.95
12,0,12,2,23145.37,0,5,17,0,2,606679.005652,...,595422.426785,17257.463577,25084.364431,-3000.0,16750.0,0.879368,0.922701,1281.967170,-233.036445,0.95
13,0,13,2,24253.03,0,6,17,0,2,612344.658803,...,599326.338452,17257.463577,26529.165721,-3000.0,16750.0,0.988640,0.914203,2165.095443,-30.915959,0.95
14,0,14,2,25853.00,0,7,17,0,2,611243.768846,...,602403.039942,17257.463577,28001.125926,-3000.0,16750.0,0.735082,0.923284,-1199.194289,-162.580509,0.95
15,0,15,2,25648.76,0,8,17,0,2,628370.612024,...,604149.866063,17257.463577,29495.706814,-3000.0,16750.0,1.621687,0.869576,-619.199361,-205.835681,0.95
16,0,16,3,NaN,0,9,17,0,2,621278.787464,...,603885.150910,17257.463577,31007.984040,-3000.0,16750.0,1.183300,0.693868,658.294743,-935.612266,0.95
17,0,17,2,29692.25,0,9,18,1,2,642602.566050,...,627595.124807,17925.866417,33256.316568,1000.0,16750.0,1.037119,0.892830,-1917.075069,109.179385,0.95
18,0,18,2,36709.16,0,10,18,0,2,644074.466737,...,626038.336505,17925.866417,34891.551447,-3000.0,16750.0,1.245092,1.052093,-1012.944062,759.362318,0.95
19,0,19,2,40254.53,0,11,18,0,2,633808.084037,...,618485.463062,17925.866417,36534.050679,-3000.0,16750.0,0.924167,1.101836,-707.675181,-2375.345897,0.95
20,0,20,2,39313.86,0,12,18,0,2,628700.966075,...,617009.247030,17925.866417,38177.438312,-3000.0,16750.0,0.988782,1.029767,-218.324957,2279.368053,0.95
21,0,21,2,49319.26,0,13,18,0,2,618497.891764,...,606014.539975,17925.866417,39815.039628,-3000.0,16750.0,0.868873,1.238709,-1587.351646,-833.497353,0.95
22,0,22,2,28736.54,0,14,18,0,2,614226.680167,...,596924.763275,17925.866417,41439.922220,-3000.0,16750.0,1.240474,0.693451,86.250863,776.177150,0.95
23,0,23,2,61401.79,0,15,18,0,2,598749.434146,...,585391.355899,17925.866417,43044.941498,-3000.0,16750.0,1.073328,1.426458,3681.342565,1458.208583,0.95
24,0,24,2,59322.90,0,16,18,0,2,579961.484915,...,567648.782352,17925.866417,44622.790266,-3000.0,16750.0,0.874364,1.329431,-1274.885498,-1386.708271,0.95
25,0,25,2,53385.40,0,17,18,0,2,572701.247393,...,550272.675876,17925.866417,46166.051918,-3000.0,16750.0,1.486142,1.156378,3273.269979,-923.828758,0.95
26,0,26,3,NaN,0,18,18,0,2,544102.350816,...,532911.631058,17925.866417,47667.256756,-3000.0,16750.0,1.053520,0.466538,-350.154339,2115.631524,0.95
27,0,27,2,72444.66,0,18,19,1,2,547770.024409,...,532309.649036,18620.157324,51123.522849,1000.0,16750.0,1.013989,1.417051,-1190.978986,-2080.313220,0.95
28,0,28,2,52146.05,0,19,19,0,2,519179.438146,...,507878.423603,18620.157324,52680.465912,-3000.0,16750.0,0.876580,0.989856,-1247.531761,-1033.259621,0.95
29,0,29,2,50221.59,0,20,19,0,2,491774.256727,...,479539.124928,18620.157324,54176.363797,-3000.0,16750.0,0.968921,0.927002,730.343329,-867.477867,0.95