In [1]:
# Imports
import numpy as np
import pandas as pd

# Reliability Problems

I am struggeling with very poor estimation performance in the case of multiple types, even if all related coefficients are fixed. I am now starting a systematic effort to hunt down the problem.

## Simulation

I will now manually check the simulation of some samples to see if the problem is in the simulation.

In [10]:
data_frame = pd.read_csv('data.respy.dat', delim_whitespace=True, header=0, na_values='.')
data_frame.set_index(['Identifier', 'Period'], drop=False, inplace=True)

data_frame.head(3)

                   Identifier  Period  Choice  Wage  Experience_A  \
Identifier Period
0          0                0       0       2  2.91             0
           1                0       1       2  2.22             0
           2                0       2       2  4.04             0

                   Experience_B  Years_Schooling  Lagged_Activity  Type  \
Identifier Period
0          0                  0               18                1     0
           1                  1               18                3     0
           2                  2               18                3     0

                   Total_Reward_1      ...        Total_Reward_4  \
Identifier Period                      ...
0          0             2.073138      ...             -1.578996
           1             1.728962      ...              0.925067
           2             1.728679      ...              1.060525

                   Systematic_Reward_1  Systematic_Reward_2  \
Identifier Period
0          0                  1.855581             1.317037
           1                  1.740287             1.333909
           2                  1.609070             1.297210

                   Systematic_Reward_3  Systematic_Reward_4  Shock_Reward_1  \
Identifier Period
0          0                  0.071430            -0.009256        1.117245
           1                  0.049906            -0.009256        0.993493
           2                 -0.036597             0.026080        1.074334

                   Shock_Reward_2  Shock_Reward_3  Shock_Reward_4  \
Identifier Period
0          0             2.212861        0.015602       -1.569740
           1             1.665690        0.422637        0.934323
           2             3.111753        0.065705        1.034445

                   Discount_Rate
Identifier Period
0          0                 0.0
           1                 0.0
           2                 0.0

[3 rows x 22 columns]

In [54]:
data_frame['Choice_Lagged'] = data_frame.groupby(level='Identifier')['Choice'].shift(+1)
data_frame.head(30)


data_frame['Choice_Lagged'] = data_frame['Choice_Lagged'].map({1: 2, 2:3, 3:1, 4:0})
data_frame['Choice_Lagged'].ix[:, 0] = 1
data_frame['Choice_Lagged'] = data_frame['Choice_Lagged'].astype(int)

print (data_frame['Choice_Lagged'].equals(data_frame['Lagged_Activity']))

True

/home/peisenha/.envs/restudToolbox/lib/python3.5/site-packages/pandas/core/indexing.py:141: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

                   Choice_Lagged  Lagged_Activity
Identifier Period
0          0                   1                1
           1                   3                3
           2                   3                3
           3                   3                3
           4                   2                2
           5                   2                2
           6                   2                2
           7                   0                0
1          0                   1                1
           1                   3                3
           2                   2                2
           3                   2                2
           4                   2                2
           5                   2                2
           6                   2                2
           7                   3                3
2          0                   1                1
           1                   3                3
           2                   3                3
           3                   2                2
           4                   2                2
           5                   2                2
           6                   2                2
           7                   2                2
3          0                   1                1
           1                   2                2
           2                   2                2
           3                   2                2
           4                   2                2
           5                   0                0
...                          ...              ...
17         2                   3                3
           3                   3                3
           4                   2                2
           5                   2                2
           6                   2                2
           7                   2                2
18         0                   1                1
           1                   2                2
           2                   2                2
           3                   2                2
           4                   3                3
           5                   3                3
           6                   2                2
           7                   2                2
19         0                   1                1
           1                   2                2
           2                   2                2
           3                   2                2
           4                   2                2
           5                   2                2
           6                   2                2
           7                   2                2
20         0                   1                1
           1                   2                2
           2                   2                2
           3                   2                2
           4                   2                2
           5                   2                2
           6                   3                3
           7                   3                3

[168 rows x 2 columns]